body{
  background-image: url("https://www.wallpapertip.com/wmimgs/47-471539_sunny-beach-wallpaper-beach-sunny-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}