.bg{
  background-image: url("../../public/fondoLogin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contenido{
  width: 75%;
}
.logo {
  animation: animacion 5s linear infinite;
}

@keyframes animacion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width:1200px){
  .contenido{
    width: 80%;
  }
}

@media (max-width:770px){
  .contenido{
    width: 100%;
  }
}